IF AND ELSE CONDITION

In [5]:
a = 25
b = 10
if a > b:
    print("a is grater than b")
else:
    print("b is greater than a")

a is grater than b

IF AND ELSE CONDITION WITH USER INPUT

In [3]:
c= int(input("enter number"))
d= int(input("enter number"))
if c>d:
    print("c is grater than d")
else:
    print("d is grater than c")

enter number 54
enter number 20

c is grater than d

WHILE AND IF CONDITION

In [1]:
e = 100
f = 25
divident = e/f
while e%f == 0:
    e//=f
if divident > 0:
    print(" e is purely divisible by f",(divident),"in this times")

 e is purely divisible by f 4.0 in this times

In [2]:
e1 = int(input("enter number"))
f1 = int(input("enter number"))
divident = e1/f1
while e1%f1 == 0:
    e1//=f1
if divident > 0:
    print("e1 is purely divisible by f1",(divident),"in this times")

enter number 98
enter number 12

e1 is purely divisible by f1 8.166666666666666 in this times

Capitalize, center, count, find, join, lower, replace, split, title, upper are functions

In [3]:
g = str(input('enter you name'))
set(map(lambda g: g.upper() , g))
# isme kya hua ki all letter get arranged automatically in alphabetical order.

enter you name yashika

{'A', 'H', 'I', 'K', 'S', 'Y'}

Normal Calculation

In [4]:
h= int(input("enter number"))
i= int(input("enter number"))
print (h+i)
print (h-i)
print (h*i)
print (h//i)

enter number 10
enter number 2

12
8
20
5

Dictionary

In [6]:
j = {"number" : [2,34,3,34,34],"assignment":(1,2,3,4,5,6) , "launch_date":{28,12,14} ,"class_time":{"web_dev": 8 , "Data science masters" : 8 , "java with dsa and system design":7}}

In [7]:
j

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7}}

In [8]:
j['class_time']['Data science masters']

8

In [9]:
j['languages'] = ['C','C++','python','SQL','tablue','power BI']

In [10]:
j

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'languages': ['C', 'C++', 'python', 'SQL', 'tablue', 'power BI']}

Functions

In [14]:
def test():
#def is used to make function in python
    h , i = 1,2
    # we declared interger for h and i 
    # now we will make an consideration
    while True:
        yield h
        h ,i = i ,h+i

In [15]:
# function is not itreable so that's why we will make into variable
fib = test()

In [16]:
for i in range(10):
    print(next(fib))

1
2
3
5
8
13
21
34
55
89

General Function

In [17]:
def myfunction(n):
    k,l,m = 0,1,2
    for i in range (n):
        yield k
        k,l,m = m,l,k+l

In [18]:
for i in myfunction(10):
    print(i)

0
2
1
3
2
4
3
5
4
6

Lambda Function

In [19]:
n = lambda o,p : o**p

In [20]:
n(3,2)

9

In [21]:
#lambda ek tarah ka chhota function hai 
c_to_f= lambda c: (9/5)*c+32

In [23]:
c_to_f(37)

98.60000000000001

Map, Reduced and Filter function

In [35]:
q = [9,2,3,4,5,6,7,8]

In [36]:
def mapfunction(q):
    q1= []
    for i in q:
        q1.append(i**2)
    return q1

In [37]:
mapfunction(q)

[81, 4, 9, 16, 25, 36, 49, 64]

In [38]:
def sq(x):
    return x**2

In [39]:
list(map(sq,q))

[81, 4, 9, 16, 25, 36, 49, 64]

In [42]:
from functools import reduce

In [45]:
reduce(lambda x,y :x+y ,q)

44

In [51]:
r = ["yashika ", "yash" ,"aloo" , "gobhi"]

In [53]:
list(filter(lambda x:len(x)<5 , r))

['yash', 'aloo']

"OOPS" stands for Object_oriented Programming System

In [54]:
class inuture :
    def __init__(self, phone_number, email_id, student_id):
        self.phone_number= phone_number
        self.email_id = email_id
        self.student_id = student_id
        
    def return_student_detail(self):
        return self.phone_number, self.email_id, self.student_id

In [56]:
yashika = inuture(7000041423, "yashika@gmail.com", 101)

In [58]:
yashika.return_student_detail()

(7000041423, 'yashika@gmail.com', 101)

Polymorphism

In [59]:
class data_science:
    def syllabus(self):
        print("data science syllabus")

In [60]:
class web_development:
    def syllabus(self):
        print("web development syllabus")

In [61]:
def class_pass(class_object):
    for i in class_object:
        i.syllabus()

In [62]:
data_science = data_science()

In [63]:
web_development = web_development()

In [64]:
class_object =[data_science , web_development]

In [65]:
class_pass(class_object)

data science syllabus
web development syllabus

Encapsulaton

In [69]:
class encapsulaton:
    def __init__(self, a,b):
        self.a= a
        self.b =b

In [70]:
s.a =54

In [71]:
s.a

54

In [86]:
class bank_acc:
    def __init__(self , balance):
        self.__balance = balance
    def deposit(self, amount):
        self.__balance= self.__balance + amount
    def withdraw(self , amount):
        if self.__balance >= amount:
            self.__balance = self.__balance- amount
            return True
        else:
            return False
        def get_balance(self):
            return self.balance

In [89]:
yashika = bank_acc(500)

In [90]:
yashika.deposit(200)

In [91]:
yashika.get_balance()

AttributeError: 'bank_acc' object has no attribute 'get_balance'